<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <section class="section">
          <div class="container">
            <div class="sectionwrapper">
              <div class="pageheader">
                <div class="breadcrumbs">
                  <div class="breadcrumbs__items">
                    <ul>
                      <li>
                        <a href="/"><span>Наши ценности</span></a>
                      </li>
                      <li>
                        <span>О проекте</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div><!-- /.pageheader -->
              <div class="sectiontitle">
                <h2>Архив выпусков</h2>
              </div>

              <div class="newsblock newsblock_page">
                <div class="newsblock__main">
                  <div class="newsblock__list">

                    <div class="newsblock__items newsblock__items_archive">
                      <div class="newsblock__item">
                        <div class="archivecard">
                          <div class="archivecard__image">
                            <div class="archivecard__img">
                              <img src="img/arch.png" alt="">
                            </div>
                          </div><!-- /.archivecard__image -->
                          <div class="archivecard__content">
                            <div class="archivecard__main">
                              <a href='#' class="archivecard__title">Выпуск газеты №83</a><!-- /.archivecard__title -->
                              <div class="archivecard__info">PDF, 1.83 MB</div><!-- /.archivecard__info -->
                            </div><!-- /.archivecard__main -->
                            <div class="archivecard__button">
                              <a href="#" download class="btn_icon"><img src="img/download.svg"
                                  alt=""></a><!-- /.btn_icon -->
                            </div><!-- /.archivecard__button -->
                          </div><!-- /.archivecard__content -->
                        </div><!-- /.archivecard -->
                      </div><!-- /.newsblock__item -->
                      <div class="newsblock__item">
                        <div class="archivecard">
                          <div class="archivecard__image">
                            <div class="archivecard__img">
                              <img src="img/arch.png" alt="">
                            </div>
                          </div><!-- /.archivecard__image -->
                          <div class="archivecard__content">
                            <div class="archivecard__main">
                              <a href='#' class="archivecard__title">Выпуск газеты №83</a><!-- /.archivecard__title -->
                              <div class="archivecard__info">PDF, 1.83 MB</div><!-- /.archivecard__info -->
                            </div><!-- /.archivecard__main -->
                            <div class="archivecard__button">
                              <a href="#" download class="btn_icon"><img src="img/download.svg"
                                  alt=""></a><!-- /.btn_icon -->
                            </div><!-- /.archivecard__button -->
                          </div><!-- /.archivecard__content -->
                        </div><!-- /.archivecard -->
                      </div><!-- /.newsblock__item -->
                      <div class="newsblock__item">
                        <div class="archivecard">
                          <div class="archivecard__image">
                            <div class="archivecard__img">
                              <img src="img/arch.png" alt="">
                            </div>
                          </div><!-- /.archivecard__image -->
                          <div class="archivecard__content">
                            <div class="archivecard__main">
                              <a href='#' class="archivecard__title">Выпуск газеты №83</a><!-- /.archivecard__title -->
                              <div class="archivecard__info">PDF, 1.83 MB</div><!-- /.archivecard__info -->
                            </div><!-- /.archivecard__main -->
                            <div class="archivecard__button">
                              <a href="#" download class="btn_icon"><img src="img/download.svg"
                                  alt=""></a><!-- /.btn_icon -->
                            </div><!-- /.archivecard__button -->
                          </div><!-- /.archivecard__content -->
                        </div><!-- /.archivecard -->
                      </div><!-- /.newsblock__item -->
                      <div class="newsblock__item">
                        <div class="archivecard">
                          <div class="archivecard__image">
                            <div class="archivecard__img">
                              <img src="img/arch.png" alt="">
                            </div>
                          </div><!-- /.archivecard__image -->
                          <div class="archivecard__content">
                            <div class="archivecard__main">
                              <a href='#' class="archivecard__title">Выпуск газеты №83</a><!-- /.archivecard__title -->
                              <div class="archivecard__info">PDF, 1.83 MB</div><!-- /.archivecard__info -->
                            </div><!-- /.archivecard__main -->
                            <div class="archivecard__button">
                              <a href="#" download class="btn_icon"><img src="img/download.svg"
                                  alt=""></a><!-- /.btn_icon -->
                            </div><!-- /.archivecard__button -->
                          </div><!-- /.archivecard__content -->
                        </div><!-- /.archivecard -->
                      </div><!-- /.newsblock__item -->
                      <div class="newsblock__item">
                        <div class="archivecard">
                          <div class="archivecard__image">
                            <div class="archivecard__img">
                              <img src="img/arch.png" alt="">
                            </div>
                          </div><!-- /.archivecard__image -->
                          <div class="archivecard__content">
                            <div class="archivecard__main">
                              <a href='#' class="archivecard__title">Выпуск газеты №83</a><!-- /.archivecard__title -->
                              <div class="archivecard__info">PDF, 1.83 MB</div><!-- /.archivecard__info -->
                            </div><!-- /.archivecard__main -->
                            <div class="archivecard__button">
                              <a href="#" download class="btn_icon"><img src="img/download.svg"
                                  alt=""></a><!-- /.btn_icon -->
                            </div><!-- /.archivecard__button -->
                          </div><!-- /.archivecard__content -->
                        </div><!-- /.archivecard -->
                      </div><!-- /.newsblock__item -->
                      <div class="newsblock__item">
                        <div class="archivecard">
                          <div class="archivecard__image">
                            <div class="archivecard__img">
                              <img src="img/arch.png" alt="">
                            </div>
                          </div><!-- /.archivecard__image -->
                          <div class="archivecard__content">
                            <div class="archivecard__main">
                              <a href='#' class="archivecard__title">Выпуск газеты №83</a><!-- /.archivecard__title -->
                              <div class="archivecard__info">PDF, 1.83 MB</div><!-- /.archivecard__info -->
                            </div><!-- /.archivecard__main -->
                            <div class="archivecard__button">
                              <a href="#" download class="btn_icon"><img src="img/download.svg"
                                  alt=""></a><!-- /.btn_icon -->
                            </div><!-- /.archivecard__button -->
                          </div><!-- /.archivecard__content -->
                        </div><!-- /.archivecard -->
                      </div><!-- /.newsblock__item -->
                      <div class="newsblock__item">
                        <div class="archivecard">
                          <div class="archivecard__image">
                            <div class="archivecard__img">
                              <img src="img/arch.png" alt="">
                            </div>
                          </div><!-- /.archivecard__image -->
                          <div class="archivecard__content">
                            <div class="archivecard__main">
                              <a href='#' class="archivecard__title">Выпуск газеты №83</a><!-- /.archivecard__title -->
                              <div class="archivecard__info">PDF, 1.83 MB</div><!-- /.archivecard__info -->
                            </div><!-- /.archivecard__main -->
                            <div class="archivecard__button">
                              <a href="#" download class="btn_icon"><img src="img/download.svg"
                                  alt=""></a><!-- /.btn_icon -->
                            </div><!-- /.archivecard__button -->
                          </div><!-- /.archivecard__content -->
                        </div><!-- /.archivecard -->
                      </div><!-- /.newsblock__item -->
                      <div class="newsblock__item">
                        <div class="archivecard">
                          <div class="archivecard__image">
                            <div class="archivecard__img">
                              <img src="img/arch.png" alt="">
                            </div>
                          </div><!-- /.archivecard__image -->
                          <div class="archivecard__content">
                            <div class="archivecard__main">
                              <a href='#' class="archivecard__title">Выпуск газеты №83</a><!-- /.archivecard__title -->
                              <div class="archivecard__info">PDF, 1.83 MB</div><!-- /.archivecard__info -->
                            </div><!-- /.archivecard__main -->
                            <div class="archivecard__button">
                              <a href="#" download class="btn_icon"><img src="img/download.svg"
                                  alt=""></a><!-- /.btn_icon -->
                            </div><!-- /.archivecard__button -->
                          </div><!-- /.archivecard__content -->
                        </div><!-- /.archivecard -->
                      </div><!-- /.newsblock__item -->
                      <div class="newsblock__item">
                        <div class="archivecard">
                          <div class="archivecard__image">
                            <div class="archivecard__img">
                              <img src="img/arch.png" alt="">
                            </div>
                          </div><!-- /.archivecard__image -->
                          <div class="archivecard__content">
                            <div class="archivecard__main">
                              <a href='#' class="archivecard__title">Выпуск газеты №83</a><!-- /.archivecard__title -->
                              <div class="archivecard__info">PDF, 1.83 MB</div><!-- /.archivecard__info -->
                            </div><!-- /.archivecard__main -->
                            <div class="archivecard__button">
                              <a href="#" download class="btn_icon"><img src="img/download.svg"
                                  alt=""></a><!-- /.btn_icon -->
                            </div><!-- /.archivecard__button -->
                          </div><!-- /.archivecard__content -->
                        </div><!-- /.archivecard -->
                      </div><!-- /.newsblock__item -->
                      <div class="newsblock__item">
                        <div class="archivecard">
                          <div class="archivecard__image">
                            <div class="archivecard__img">
                              <img src="img/arch.png" alt="">
                            </div>
                          </div><!-- /.archivecard__image -->
                          <div class="archivecard__content">
                            <div class="archivecard__main">
                              <a href='#' class="archivecard__title">Выпуск газеты №83</a><!-- /.archivecard__title -->
                              <div class="archivecard__info">PDF, 1.83 MB</div><!-- /.archivecard__info -->
                            </div><!-- /.archivecard__main -->
                            <div class="archivecard__button">
                              <a href="#" download class="btn_icon"><img src="img/download.svg"
                                  alt=""></a><!-- /.btn_icon -->
                            </div><!-- /.archivecard__button -->
                          </div><!-- /.archivecard__content -->
                        </div><!-- /.archivecard -->
                      </div><!-- /.newsblock__item -->
                      <div class="newsblock__item">
                        <div class="archivecard">
                          <div class="archivecard__image">
                            <div class="archivecard__img">
                              <img src="img/arch.png" alt="">
                            </div>
                          </div><!-- /.archivecard__image -->
                          <div class="archivecard__content">
                            <div class="archivecard__main">
                              <a href='#' class="archivecard__title">Выпуск газеты №83</a><!-- /.archivecard__title -->
                              <div class="archivecard__info">PDF, 1.83 MB</div><!-- /.archivecard__info -->
                            </div><!-- /.archivecard__main -->
                            <div class="archivecard__button">
                              <a href="#" download class="btn_icon"><img src="img/download.svg"
                                  alt=""></a><!-- /.btn_icon -->
                            </div><!-- /.archivecard__button -->
                          </div><!-- /.archivecard__content -->
                        </div><!-- /.archivecard -->
                      </div><!-- /.newsblock__item -->
                      <div class="newsblock__item">
                        <div class="archivecard">
                          <div class="archivecard__image">
                            <div class="archivecard__img">
                              <img src="img/arch.png" alt="">
                            </div>
                          </div><!-- /.archivecard__image -->
                          <div class="archivecard__content">
                            <div class="archivecard__main">
                              <a href='#' class="archivecard__title">Выпуск газеты №83</a><!-- /.archivecard__title -->
                              <div class="archivecard__info">PDF, 1.83 MB</div><!-- /.archivecard__info -->
                            </div><!-- /.archivecard__main -->
                            <div class="archivecard__button">
                              <a href="#" download class="btn_icon"><img src="img/download.svg"
                                  alt=""></a><!-- /.btn_icon -->
                            </div><!-- /.archivecard__button -->
                          </div><!-- /.archivecard__content -->
                        </div><!-- /.archivecard -->
                      </div><!-- /.newsblock__item -->



                    </div>

                    <div class="newsblock__nav">
                      <div class="paginationblock">
                        <div class="pagination">
                          <a href="#" class='pagination__arrLeft disabled'>
                            <img src="img/pagiRight.svg" alt="">
                          </a>
                          <ul>
                            <li class="active"><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><span>...</span></li>
                            <li><a href="">135</a></li>
                          </ul>
                          <a href="#" class='pagination__arrRight'>
                            <img src="img/pagiRight.svg" alt="">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>