<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <section class="section">
          <div class="container">
            <div class="sectionwrapper">
              <div class="pageheader">
                <div class="breadcrumbs">
                  <div class="breadcrumbs__items">
                    <ul>
                      <li>
                        <a href="/"><span>Наши ценности</span></a>
                      </li>
                      <li>
                        <span>О проекте</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="contactsblock">
                <div class="contactsblock__wrapper">
                  <div class="contactsblock__content">
                    <div class="contactsblock__title">Контакты</div>
                    <div class="contactsblock__params">
                      <div class="contactsblock__param">
                        <div class="contactitem">
                          <div class="contactitem__icon">
                            <div class="contactitem__img"><img src="img/Phone.svg" alt=""></div>
                          </div>
                          <div class="contactitem__main">
                            <div class="contactitem__title">Телефон</div>
                            <div class="contactitem__value">
                              <a href="tel:8 495 477 53 62">8 495 477 53 62</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="contactsblock__param">
                        <div class="contactitem">
                          <div class="contactitem__icon">
                            <div class="contactitem__img"><img src="img/WhatsApp1.svg" alt=""></div>
                          </div>
                          <div class="contactitem__main">
                            <div class="contactitem__title">WhatsApp</div>
                            <div class="contactitem__value">
                              <a href="https://wa.me/74954775362">8 915 321 38 38</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="contactsblock__param">
                        <div class="contactitem">
                          <div class="contactitem__icon">
                            <div class="contactitem__img"><img src="img/Mail.svg" alt=""></div>
                          </div>
                          <div class="contactitem__main">
                            <div class="contactitem__title">Email</div>
                            <div class="contactitem__value">
                              <a href="mailto:info@........ru">info@........ru</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="contactsblock__param">
                        <div class="contactitem">
                          <div class="contactitem__icon">
                            <div class="contactitem__img"><img src="img/Location.svg" alt=""></div>
                          </div>
                          <div class="contactitem__main">
                            <div class="contactitem__title">Адрес</div>
                            <div class="contactitem__value">
                              г. Москва, ул. Электродная, д. 13
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="contactsblock__param">
                        <div class="contactitem">
                          <div class="contactitem__icon">
                            <div class="contactitem__img"><img src="img/Clock.svg" alt=""></div>
                          </div>
                          <div class="contactitem__main">
                            <div class="contactitem__title">График работы</div>
                            <div class="contactitem__value">
                              ПН-ПТ с 9 до 18, Сб-ВС выходные
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="contacsblock__socials">
                      <div class="socials">
                        <div class="footer__socials">
                          <div class="socials">
                            <a href="" class="socials__item">
                              <span class="socials__icon">
                                <img src="img/WhatsApp.svg" alt="">
                              </span>
                            </a>
                            <a href="" class="socials__item">
                              <span class="socials__icon">
                                <img src="img/TelegramApp.svg" alt="">
                              </span>
                            </a>
                            <a href="" class="socials__item">
                              <span class="socials__icon">
                                <img src="img/VKontakte.svg" alt="">
                              </span>
                            </a>
                            <a href="" class="socials__item">
                              <span class="socials__icon">
                                <img src="img/Instagram.svg" alt="">
                              </span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="contactsblock__map">
                    <div class="map">
                      <iframe
                        src="https://yandex.ru/map-widget/v1/?um=constructor%3A66f9441b4421a0ce769255d959029bdbcef31377fc3d4f5eb6bd9be70d2dad7a&amp;source=constructor"
                        width="100%" height="416" frameborder="0"></iframe>
                    </div>
                  </div>
                </div>
              </div>

              <div class="pageform">
                <a name='form'></a>
                <div class="pageform__wrapper">
                  <div class="pageform__block">
                    <div class="pageform__block_layer">
                      <div class="pageform__header">
                        <div class="pageform__title">Обратная связь</div>
                        <div class="pageform__text">Напишите нам и мы ответим вам в ближайшее время</div>

                      </div>
                    </div>
                  </div>
                  <div class="pageform__form">
                    <div class="pageform__main">
                      <form action="">
                        <div class="pageform__rows">
                          <div class="pageform__row">
                            <div class="pageform__col_full">
                              <div class="pageform__input"><label for="">Ваше имя</label><input type="text"
                                  value='Андрей'>
                              </div>
                            </div>
                          </div>
                          <div class="pageform__row">
                            <div class="pageform__col">
                              <div class="pageform__input"><label for="">Email</label><input type="email" value=''>
                              </div>
                            </div>
                            <div class="pageform__col">
                              <div class="pageform__input"><label for="">Телефон</label><input class='input-error'
                                  type="tel" value='-7 939 38 28 82'>
                                <span class="input-errortext">Некорректное значение</span>

                              </div>
                            </div>
                          </div>
                          <div class="pageform__row">
                            <div class="pageform__col_full">
                              <div class="pageform__input"><label for="">Комментарии</label><input type="text">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="pageform__buttons">
                          <div class="formblock__check">
                            <div class="check">
                              <input type="checkbox" id="agree" checked="checked" value="Y">
                              <label for="agree">Даю свое согласие на обработку персональных данных, соглашаюсь <a
                                  href=""> с политикой конфиденциальности</a> и принимаю <a href="">условия оферты</a>
                              </label>
                            </div>
                          </div>
                          <div class="pageform__submit">
                            <button type='submit' class='btn_main'>Отправить</button>
                          </div><!-- /.pageform__submit -->
                        </div><!-- /.pageform__buttons -->
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>