<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <section class="section">
          <div class="container">
            <div class="sectionwrapper">
              <div class="pageheader">
                <div class="breadcrumbs">
                  <div class="breadcrumbs__items">
                    <ul>
                      <li>
                        <a href="/"><span>Наши ценности</span></a>
                      </li>
                      <li>
                        <span>О проекте</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div><!-- /.pageheader -->

              <div class="detailpage">
                <div class="detailpage__wrapper detailpage__wrapper_aside">
                  <div class="detailpage__main">
                    <div class="detailpage__header">
                      <div class="detailpage__image">
                        <div class="detailpage__img"><img src="img/54a8998c3322841ff342c03654f7da35.jpg" alt=""></div>
                        <!-- /.detailpage__img -->
                      </div><!-- /.detailpage__image -->
                      <div class="detailpage__title">
                        <h1>Дети и соцсети: какие проблемы со здоровьем возникают у юных пользователей</h1>
                      </div><!-- /.detailpage__title -->
                      <div class="detailpage__params">
                        <div class="newscard__params ">
                          <div class="newscard__param">
                            <div class="newscard__date">01.04.2023</div>
                          </div>
                          <div class="newscard__param">
                            <div class="newscard__tag">
                              <a href="#">Агро</a>
                            </div>
                          </div>
                        </div>
                      </div><!-- /.detailpage__params -->
                    </div><!-- /.detailpage__header -->
                    <div class="detailpage__content">
                      <div class="content">
                        <div class="content__block">
                          <h4>
                            Заголовок
                          </h4>

                          <p>Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение
                            нашей
                            деятельности позволяет выполнять важные задания по разработке новых предложений. Идейные
                            соображения
                            высшего порядка, а также укрепление и развитие структуры влечет за собой процесс внедрения и
                            модернизации существенных финансовых и административных условий. Идейные соображения высшего
                            порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль
                            в
                            формировании новых предложений. </p>
                        </div>
                        <h4>Заголовок</h4>
                        <ul>
                          <li>Текст</li>
                          <li>Текст</li>
                          <li>Текст</li>
                          <li>Текст</li>
                          <li>Текст</li>
                        </ul>
                        <h4>Блок с картинкой</h4>
                        <div class="contentgallerry">
                          <div class="contentgallerry__item">
                            <a class='contentgallerry__link' href="img/66150627e904ea485020334b79bb09fc.jpg"
                              data-fancybox='content'>
                              <span class="contentgallerry__img">
                                <img src="img/66150627e904ea485020334b79bb09fc.jpg" alt="">
                              </span><!-- /.contentgallerry__img --></a>
                          </div><!-- /.contentgallerry__item -->
                          <div class="contentgallerry__item">
                            <a class='contentgallerry__link' href="img/54a8998c3322841ff342c03654f7da35.jpg"
                              data-fancybox='content'>
                              <span class="contentgallerry__img">
                                <img src="img/54a8998c3322841ff342c03654f7da35.jpg" alt="">
                              </span><!-- /.contentgallerry__img --></a>
                          </div><!-- /.contentgallerry__item -->
                        </div><!-- /.contentgallerry -->

                        <p>Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей
                          деятельности позволяет выполнять важные задания по разработке новых предложений. Идейные
                          соображения высшего порядка, а также укрепление и развитие структуры влечет за собой процесс
                          внедрения и модернизации существенных финансовых и административных условий. Идейные
                          соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности
                          играет важную роль в формировании новых предложений. </p>

                        <h4>Заголовок</h4>
                        <p>Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей
                          деятельности позволяет выполнять важные задания по разработке новых предложений. Идейные
                          соображения высшего порядка, а также укрепление и развитие структуры влечет за собой процесс
                          внедрения и модернизации существенных финансовых и административных условий. Идейные
                          соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности
                          играет важную роль в формировании новых предложений. </p>

                      </div><!-- /.content -->
                    </div><!-- /.detailpage__content -->
                    <div class="detailpage__footer">
                      <div class="detailpage__nav">
                        <div class="detailpage__back">
                          <a href="">
                            <img src="img/back.svg" alt="">
                            <span>Вернуться назад</span>
                          </a>
                        </div><!-- /.detailpage__back -->
                        <div class="detailpage__share">
                          <a href="">
                            <img src="img/share.svg" alt="">
                            <span>Поделиться</span>
                          </a>
                        </div><!-- /.detailpage__share -->
                      </div><!-- /.detailpage__nav -->
                    </div><!-- /.detailpage__footer -->
                  </div><!-- /.detailpage__main -->
                  <div class="detailpage__aside">
                    <div class="asideblock">
                      <div class="asideblock__header">
                        <div class="asideblock__title">
                          Другие статьи
                        </div><!-- /.asideblock__title -->
                        <div class="asideblock__link">
                          <a href="#">See all</a>
                        </div><!-- /.asideblock__link -->
                      </div><!-- /.asideblock__header -->
                      <div class="asideblock__news">
                        <div class="newsblock__items">
                          <div class="newsblock__item">
                            <div class="newscard">
                              <div class="newscard__wrapper">
                                <a href='#' class="newscard__image">
                                  <div class="newscard__img"><img src="img/41f16a8fd077a95e82fe84812b4bd47c.jpg" alt="">
                                  </div>
                                </a>
                                <div class="newscard__content">
                                  <a href='#' class="newscard__text">Дети и соцсети: какие проблемы со здоровьем
                                    возникают
                                    у
                                    юных
                                    пользователей</a>
                                  <div class="newscard__params ">
                                    <div class="newscard__param">
                                      <div class="newscard__date">01.04.2023</div>
                                    </div>
                                    <div class="newscard__param">
                                      <div class="newscard__tag">
                                        <a href="#">Дети</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div><!-- /.newsblock__item -->
                          <div class="newsblock__item">
                            <div class="newscard">
                              <div class="newscard__wrapper">
                                <a href='#' class="newscard__image">
                                  <div class="newscard__img"><img src="img/41f16a8fd077a95e82fe84812b4bd47c.jpg" alt="">
                                  </div>
                                </a>
                                <div class="newscard__content">
                                  <a href='#' class="newscard__text">Дети и соцсети: какие проблемы со здоровьем
                                    возникают
                                    у
                                    юных
                                    пользователей</a>
                                  <div class="newscard__params ">
                                    <div class="newscard__param">
                                      <div class="newscard__date">01.04.2023</div>
                                    </div>
                                    <div class="newscard__param">
                                      <div class="newscard__tag">
                                        <a href="#">Дети</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div><!-- /.newsblock__item -->
                          <div class="newsblock__item">
                            <div class="newscard">
                              <div class="newscard__wrapper">
                                <a href='#' class="newscard__image">
                                  <div class="newscard__img"><img src="img/41f16a8fd077a95e82fe84812b4bd47c.jpg" alt="">
                                  </div>
                                </a>
                                <div class="newscard__content">
                                  <a href='#' class="newscard__text">Дети и соцсети: какие проблемы со здоровьем
                                    возникают
                                    у
                                    юных
                                    пользователей</a>
                                  <div class="newscard__params ">
                                    <div class="newscard__param">
                                      <div class="newscard__date">01.04.2023</div>
                                    </div>
                                    <div class="newscard__param">
                                      <div class="newscard__tag">
                                        <a href="#">Дети</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div><!-- /.newsblock__item -->
                        </div>
                      </div><!-- /.asideblock__news -->
                    </div><!-- /.asideblock -->
                  </div><!-- /.detailpage__aside -->
                </div><!-- /.detailpage__wrapper detailpage__wrapper_aside -->
              </div><!-- /.detailpage -->

            </div>
          </div>
        </section>

      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>