<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <section class="section">
          <div class="container">
            <div class="sectionwrapper">
              <div class="pageheader">
                <div class="breadcrumbs">
                  <div class="breadcrumbs__items">
                    <ul>
                      <li>
                        <a href="/"><span>Наши ценности</span></a>
                      </li>
                      <li>
                        <span>О проекте</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div><!-- /.pageheader -->
              <div class="sectiontitle">
                <h2>Новости</h2>
              </div>

              <div class="newsblock newsblock_page">
                <div class="newsblock__main">
                  <div class="newsblock__list">
                    <div class="newsblock__panel ">
                      <div class="newstags__tags">
                        <div class="newstags__tag active"><a href="">Все</a></div>
                        <div class="newstags__tag"><a href="">Москва</a></div>
                        <div class="newstags__tag"><a href="">Россия</a></div>
                        <div class="newstags__tag"><a href="">СВО</a></div>
                        <div class="newstags__tag"><a href="">Дети</a></div>
                        <div class="newstags__tag"><a href="">Образование</a></div>
                        <div class="newstags__tag"><a href="">Культура</a></div>
                        <div class="newstags__tag"><a href="">Москва</a></div>
                        <div class="newstags__tag"><a href="">Россия</a></div>
                        <div class="newstags__tag"><a href="">СВО</a></div>
                        <div class="newstags__tag"><a href="">Дети</a></div>
                        <div class="newstags__tag"><a href="">Образование</a></div>
                        <div class="newstags__tag"><a href="">Культура</a></div>
                        <div class="newstags__tag"><a href="">Москва</a></div>
                        <div class="newstags__tag"><a href="">Россия</a></div>
                        <div class="newstags__tag"><a href="">СВО</a></div>
                        <div class="newstags__tag"><a href="">Дети</a></div>
                        <div class="newstags__tag"><a href="">Образование</a></div>
                        <div class="newstags__tag"><a href="">Культура</a></div>
                        <div class="newstags__tag"><a href="">Москва</a></div>
                        <div class="newstags__tag"><a href="">Россия</a></div>
                        <div class="newstags__tag"><a href="">СВО</a></div>
                        <div class="newstags__tag"><a href="">Дети</a></div>
                        <div class="newstags__tag"><a href="">Образование</a></div>
                        <div class="newstags__tag"><a href="">Культура</a></div>
                      </div><!-- /.newstags__tags -->
                    </div><!-- /.newsblock__panel -->
                    <div class="newsblock__items">
                      <div class="newsblock__item">
                        <div class="newscard">
                          <div class="newscard__wrapper">
                            <a href='#' class="newscard__image">
                              <div class="newscard__img"><img src="img/41f16a8fd077a95e82fe84812b4bd47c.jpg" alt="">
                              </div>
                            </a>
                            <div class="newscard__content">
                              <a href='#' class="newscard__text">Дети и соцсети: какие проблемы со здоровьем возникают у
                                юных
                                пользователей</a>
                              <div class="newscard__params ">
                                <div class="newscard__param">
                                  <div class="newscard__date">01.04.2023</div>
                                </div>
                                <div class="newscard__param">
                                  <div class="newscard__tag">
                                    <a href="#">Дети</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!-- /.newsblock__item -->
                      <div class="newsblock__item">
                        <div class="newscard">
                          <div class="newscard__wrapper">
                            <a href='#' class="newscard__image">
                              <div class="newscard__img"><img src="img/54a8998c3322841ff342c03654f7da35.jpg" alt="">
                              </div>
                            </a>
                            <div class="newscard__content">
                              <a href='#' class="newscard__text">Дети и соцсети: какие проблемы со здоровьем возникают у
                                юных
                                пользователей</a>
                              <div class="newscard__params ">
                                <div class="newscard__param">
                                  <div class="newscard__date">01.04.2023</div>
                                </div>
                                <div class="newscard__param">
                                  <div class="newscard__tag">
                                    <a href="#">Дети</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!-- /.newsblock__item -->
                      <div class="newsblock__item">
                        <div class="newscard">
                          <div class="newscard__wrapper">
                            <a href='#' class="newscard__image">
                              <div class="newscard__img"><img src="img/33f0981ebf4acd21cefee59adb62d8e3.jpg" alt="">
                              </div>
                            </a>
                            <div class="newscard__content">
                              <a href='#' class="newscard__text">Дети и соцсети: какие проблемы со здоровьем возникают у
                                юных
                                пользователей</a>
                              <div class="newscard__params ">
                                <div class="newscard__param">
                                  <div class="newscard__date">01.04.2023</div>
                                </div>
                                <div class="newscard__param">
                                  <div class="newscard__tag">
                                    <a href="#">Дети</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!-- /.newsblock__item -->
                      <div class="newsblock__item">
                        <div class="newscard">
                          <div class="newscard__wrapper">
                            <a href='#' class="newscard__image">
                              <div class="newscard__img"><img src="img/d348f088a217824589eabdfd0a0e10b0.jpg" alt="">
                              </div>
                            </a>
                            <div class="newscard__content">
                              <a href='#' class="newscard__text">Дети и соцсети: какие проблемы со здоровьем возникают у
                                юных
                                пользователей</a>
                              <div class="newscard__params ">
                                <div class="newscard__param">
                                  <div class="newscard__date">01.04.2023</div>
                                </div>
                                <div class="newscard__param">
                                  <div class="newscard__tag">
                                    <a href="#">Дети</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!-- /.newsblock__item -->
                      <div class="newsblock__item">
                        <div class="newscard">
                          <div class="newscard__wrapper">
                            <a href='#' class="newscard__image">
                              <div class="newscard__img"><img src="img/4b3540907a25b3202f8181473d6e6f58.jpg" alt="">
                              </div>
                            </a>
                            <div class="newscard__content">
                              <a href='#' class="newscard__text">Дети и соцсети: какие проблемы со здоровьем возникают у
                                юных
                                пользователей</a>
                              <div class="newscard__params ">
                                <div class="newscard__param">
                                  <div class="newscard__date">01.04.2023</div>
                                </div>
                                <div class="newscard__param">
                                  <div class="newscard__tag">
                                    <a href="#">Дети</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!-- /.newsblock__item -->
                      <div class="newsblock__item">
                        <div class="newscard">
                          <div class="newscard__wrapper">
                            <a href='#' class="newscard__image">
                              <div class="newscard__img"><img src="img/a2d2b569eb96b1b9f6c17b46ec6aa0e4.jpg" alt="">
                              </div>
                            </a>
                            <div class="newscard__content">
                              <a href='#' class="newscard__text">Дети и соцсети: какие проблемы со здоровьем возникают у
                                юных
                                пользователей</a>
                              <div class="newscard__params ">
                                <div class="newscard__param">
                                  <div class="newscard__date">01.04.2023</div>
                                </div>
                                <div class="newscard__param">
                                  <div class="newscard__tag">
                                    <a href="#">Дети</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!-- /.newsblock__item -->
                      <div class="newsblock__item">
                        <div class="newscard">
                          <div class="newscard__wrapper">
                            <a href='#' class="newscard__image">
                              <div class="newscard__img"><img src="img/0eb673147e299fecb5ebfa2160bf14c7.jpg" alt="">
                              </div>
                            </a>
                            <div class="newscard__content">
                              <a href='#' class="newscard__text">Дети и соцсети: какие проблемы со здоровьем возникают у
                                юных
                                пользователей</a>
                              <div class="newscard__params ">
                                <div class="newscard__param">
                                  <div class="newscard__date">01.04.2023</div>
                                </div>
                                <div class="newscard__param">
                                  <div class="newscard__tag">
                                    <a href="#">Дети</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!-- /.newsblock__item -->
                      <div class="newsblock__item">
                        <div class="newscard">
                          <div class="newscard__wrapper">
                            <a href='#' class="newscard__image">
                              <div class="newscard__img"><img src="img/dd42993ca59033baa1296ac32c4d497f.jpg" alt="">
                              </div>
                            </a>
                            <div class="newscard__content">
                              <a href='#' class="newscard__text">Дети и соцсети: какие проблемы со здоровьем возникают у
                                юных
                                пользователей</a>
                              <div class="newscard__params ">
                                <div class="newscard__param">
                                  <div class="newscard__date">01.04.2023</div>
                                </div>
                                <div class="newscard__param">
                                  <div class="newscard__tag">
                                    <a href="#">Дети</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!-- /.newsblock__item -->
                      <div class="newsblock__item">
                        <div class="newscard">
                          <div class="newscard__wrapper">
                            <a href='#' class="newscard__image">
                              <div class="newscard__img"><img src="img/186cd8caa3cf52662bc91ffca26b4a42.jpg" alt="">
                              </div>
                            </a>
                            <div class="newscard__content">
                              <a href='#' class="newscard__text">Дети и соцсети: какие проблемы со здоровьем возникают у
                                юных
                                пользователей</a>
                              <div class="newscard__params ">
                                <div class="newscard__param">
                                  <div class="newscard__date">01.04.2023</div>
                                </div>
                                <div class="newscard__param">
                                  <div class="newscard__tag">
                                    <a href="#">Дети</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!-- /.newsblock__item -->

                    </div>

                    <div class="newsblock__nav">
                      <div class="paginationblock">
                        <div class="pagination">
                          <a href="#" class='pagination__arrLeft disabled'>
                            <img src="img/pagiRight.svg" alt="">
                          </a>
                          <ul>
                            <li class="active"><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><span>...</span></li>
                            <li><a href="">135</a></li>
                          </ul>
                          <a href="#" class='pagination__arrRight'>
                            <img src="img/pagiRight.svg" alt="">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>