<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <style>
      ul {
        margin: 100px 0;
      }

      li {
        margin-bottom: 15px;
        list-style: none;
        display: inline-block;
        display: block;
        font-size: 30px;
      }
    </style>
    <main>
      <div class="container">
        <ul>
          <li><a href="index.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Главная</a></li>
          <li><a href="news_list.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Список</a></li>
          <li><a href="news_detail.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Детальная</a></li>
          <li><a href="archive_list.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Архив</a></li>
          <li><a href="styleguide.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Контент</a></li>
          <li><a href="contacts.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Контакты</a></li>
          <li><a href="404.html" target="_blank" rel="noopener noreferrer" class='btn_main'>404</a></li>


        </ul>
      </div><!-- /.container -->
    </main>