@import "./partials/params.scss";
@import "./partials/mixins.scss";

body {
  min-width: 320px;
  font-style: normal;
  font-weight: normal;
  @include clear;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

* {
  font-style: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
}

/* main {
		overflow: hidden;
}
*/
a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: $main;
  text-decoration: none;
}

path {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  text-decoration: none;
}

button {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: initial;
  height: initial;
}

ul {
  @include clear;
}

@media (min-width: 1024px) {
  .onlyMobile {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .onlyDesktop {
    display: none !important;
  }
}

.container {
  @include container;
}

.togglesearch {
  .headersearch {
    /*   width: 0; */
    background: #fff;
    opacity: 1;
    display: none;
    z-index: -99;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    form {
      height: 100%;
    }

    .headersearch__wrapper {
      height: 100%;
      @include container;
    }
  }

  .headersearch.active {
    /*  width: 100%; */
    opacity: 1;
    z-index: 3;
    display: block;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .headersearch__close {
    margin-right: 13px;
    margin-left: 13px;
    opacity: 0.3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    img {
      width: 16px;
      height: 16px;
    }
  }

  .headersearch__close:hover {
    opacity: 1;
  }

  $headersearch_w: 64px;

  .headersearch__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    input {
      display: block;
      width: calc(100% - #{$headersearch_w});
      height: 100%;
      background: #ffffff;
      border: none;
      padding: 0 15px;
      font-weight: 400;
      font-size: 20px;
    }

    /* input:focus {
				border: 1px solid $green;
			} */
    button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: none;
      border: none;
      padding: 0;
    }
  }
}

.lb-data .lb-number {
  display: none !important;
}

.lightbox {
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed !important;
  top: 0 !important;
}

#lightboxOverlay {
  height: 100% !important;
  left: 0;
  position: fixed !important;
  top: 0;
  width: 100% !important;
}

.lb-outerContainer {
  margin: auto;
}

.lb-image {
  margin: auto;
}

.lb-close {
  bottom: 100%;
  position: fixed;
  right: 3%;
  top: 30px;
}

#video-bg {
  height: 100%;
  margin-top: 0;
  max-height: 100%;
  overflow: hidden;
  right: 0;
  z-index: 1;
  z-index: -1;
}

#video-bg,
#video-bg:after {
  left: 0;
  position: absolute;
  top: 0;
}

#video-bg:after {
  content: "";
  width: 100%;
}

#video-bg > video {
  height: auto;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  width: auto;
}

.jsbackdrop {
  background: rgba(52, 60, 75, 0.5);
  display: none;
  position: fixed;
  z-index: 9;
  height: 100%;
  min-height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
}

.jsbackdrop.active {
  display: block;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.content-between {
  justify-content: space-between;
}

.content-center {
  justify-content: center;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.menubtn {
  display: block;
  margin-left: 15px;
}

.menubtn span {
  width: 32px;
  height: 2px;
  margin-bottom: 5px;
  display: block;
  background: #324064;

  transform-origin: 4px 0px;

  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

  &:last-child {
    margin-bottom: 0;
  }
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:last-child {
  transform-origin: 0% 100%;
}

#menuToggle.active span:first-child {
  opacity: 1;
  transform: translate(0, 18px) rotate(-45deg);
}

#menuToggle.active span:last-child {
  transform: translate(0, -19px) rotate(45deg);
}

#menuToggle.active span:nth-child(2) {
  opacity: 0;
}

.breadcrumbs {
  margin: 4px 0 20px 0;
}

.breadcrumbs__items ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs__items ul li {
  position: relative;
  padding-right: 16px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__items ul li:after {
  content: url(../img/breadcrumbs.svg);
  position: absolute;
  right: 0;
  top: 0;
  line-height: 16px;
  color: rgba(37, 52, 79, 0.5);
}

.breadcrumbs__items ul li:last-child:after {
  display: none;
}

.breadcrumbs__items ul span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  display: flex;
  align-items: center;

  color: #324064;
}

.breadcrumbs__items ul a span {
  opacity: 0.5;
  color: #324064;
}
.pagination__arrLeft {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pagination {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
}
.pagination > a {
  line-height: 1;
  display: flex;
}
.pagination ul {
  display: inline-block;
  margin: 0 22px;
  padding: 0;
}
.pagination ul li {
  float: left;
  margin: 0 5px;
  list-style: none;
}
.pagination ul li > span {
  vertical-align: sub;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  display: block;
  width: 36px;
  height: 36px;
  color: #25344f;
}
.pagination ul li a {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height */
  text-align: center;
  color: #25344f;
  text-align: center;
  display: block;
  padding: 0 4px;
  height: 36px;
  border: 1px solid rgba(37, 52, 79, 0.15);
  border-radius: 12px;
  min-width: 36px;
}
.pagination > span {
  float: left;
  display: block;
  padding-right: 3px;
}
.pagination ul li.active a {
}
.pagination ul li a:hover {
}
.paginationblock {
  padding: 24px 0;
}
.pagination__content {
  margin: auto;
}
input.input-error {
  border: 2px solid rgba(244, 105, 105, 1);
  color: rgba(244, 105, 105, 1);
}
.input-errortext {
  color: rgba(244, 105, 105, 1);
  font-size: 12px;
  line-height: 100%;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  bottom: -3px;
  right: 0;
}

.check label {
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: #3b435a;
  padding-left: 38px;
  position: relative;
}

.check input[type="checkbox"] {
  display: none;
}

.check label a {
  color: #25344f;
  text-decoration: underline;
}

.check label a:hover {
  text-decoration: none;
}

.check label:before {
  background-color: rgba(224, 149, 8, 1);
  border-radius: 4px;
  content: "";
  height: 18px;
  left: 0;
  position: absolute;
  width: 18px;
  top: 50%;
  transform: translateY(-50%);
}

.check input[type="checkbox"]:checked + label:before {
  background-image: url(../img/checkbox_checked.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1023px) {
  .mainmenu {
    display: none;
    z-index: 9;
  }
  .mainmenu.active {
    display: block;
  }
}
