@import "./partials/params.scss";
@import "./partials/mixins.scss";
@import "./default.scss";
@import "./fonts.scss";
@import "./modal.scss";

body {
  font-family: "Circe";
  background: #efeeea;
}

.header {
}
.headercontent {
}

.headercontent__left {
}
.headerlogo {
}
.logo {
  margin-right: 28px;
}
.descr {
  font-family: "SharonAP";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  /* identical to box height, or 36px */

  color: #cc8500;
}
.headercontent__right {
}
.headerpanel {
}
.headerpanel__search {
}
.headersearch {
  input {
    display: block;
    width: 462px;
    height: 50px;
    border: none;
    padding-left: 55px;
    background: #f4f4f4;
    background-image: url(../img/search_FILL0_wght700_GRAD200_opsz481.svg);
    background-position: left 20px center;
    background-repeat: no-repeat;
  }
}
.headersearch__wrapper {
  position: relative;
}
.headersearch__close {
}
.btn_main {
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #e09508;
  color: #ffffff;
  border: none;
  cursor: pointer;

  &:hover {
    background: #f2ae2e;
    color: #ffffff;
  }
  &:focus {
    background: #ce8d12;
    color: #ffffff;
  }
}
.togglesearch {
}

.searchicon {
}
.headerpanel__contacts {
}
.headerpanel__tel {
  a {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    /* identical to box height, or 22px */
    white-space: nowrap;
    text-transform: uppercase;

    color: #324064;
    display: block;
    margin-bottom: 4px;
  }
}
a.btn_border {
  padding: 7px 20px;
  display: block;
  border: 2px solid rgba(50, 64, 100, 0.1);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  white-space: nowrap;

  color: #324064;

  &:hover {
    border-color: #f2ae2e;
  }
  &:focus {
    border-color: #ce8d12;
  }
}

.headermenu {
}
.mainmenu {
}
.mainmenu__wrapper {
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(50, 64, 100, 0.4);
  font-weight: 400;
  font-size: 16px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(50, 64, 100, 0.4);
  font-weight: 400;
  font-size: 16px;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(50, 64, 100, 0.4);
  font-weight: 400;
  font-size: 16px;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(50, 64, 100, 0.4);
  font-weight: 400;
  font-size: 16px;
}

.headercontent__middle {
  margin: 0 20px;
}

.headermenu {
  border-top: 2px solid rgba(50, 64, 100, 0.1);
}

.mainmenu {
}
.mainmenu__wrapper {
}
.mainmenu__items {
}
.mainmenu__level_1 {
}
.mainmenuLevelOne {
  height: 58px;

  > li {
    > a {
      display: block;
      padding: 19px 0;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
      white-space: nowrap;
      /* identical to box height, or 22px */

      text-transform: uppercase;
      border-bottom: 4px solid transparent;
      color: #324064;

      &:hover {
        border-color: rgba(224, 149, 8, 1);
        color: rgba(224, 149, 8, 1);
      }
    }
  }

  > li.active {
    a {
      background: rgba(224, 149, 8, 1);
      color: #fff;
      padding-top: 27px;
      padding-bottom: 27px;
      padding-left: 49px;
      padding-right: 49px;
      border: none;
    }
  }
}

#header {
  background: #fff;
}
.headermain {
  padding: 5px 0 18px 0;
}

.mainblock {
}
.mainblock__container {
  display: flex;
}
.mainblockslider {
  width: calc(100% - 561px);
  display: flex;
}
.mainblock__slider {
  width: 100%;
  height: 100%;

  * {
    height: 100%;
  }

  .slick-list.draggable {
    height: 100%;
  }
}
.mainblock__slide {
  width: 100%;
  height: 100%;
}
.mainblock__item {
  width: 100%;
  height: 100%;
}
.mainblock__image {
  width: 100%;
  height: 100%;
}
.mainblock__img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.mainblocknav {
  width: 561px;
  display: flex;
  min-height: 446px;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 100%;
  /* identical to box height, or 46px */

  margin-bottom: 33px;
  margin-top: 0;
  color: #324064;
}
h2 {
  margin-bottom: 28px;
}
h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  /* identical to box height, or 32px */
  margin-top: 0;
  margin-bottom: 26px;
  color: #324064;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  /* identical to box height, or 26px */
  margin-top: 0;
  margin-bottom: 23px;
  color: #324064;
}

h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */
  margin-top: 0;
  color: #324064;
  margin-bottom: 28px;
}

.sectiontitle {
  h2 {
    margin-bottom: 17px;
  }
}

@media (min-width: 1024px) {
  .mainblocknav .slick-list {
    overflow: visible;
  }
  .mainblocknav .slick-track {
    transform: translate3d(0px, 0px, 0px) !important;
  }
  .mainblocknav {
    .slick-list {
      height: 100% !important;
    }
  }
}

.mainblocknav__slider {
}
.mainblocknav__slide {
}
.mainblocknav__item {
}
.mainblocknav__content {
}
.mainblocknav__content {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  /* identical to box height, or 20px */
  padding: 0 33px;
  display: flex;
  align-items: center;
  color: #324064;
  height: 92px;
  span {
    border-bottom: 2px solid rgba(50, 64, 100, 0.1);
    padding: 24px 0 25px 0;
    display: block;
  }
}

.mainblockslider {
  width: 749px;
}

.sectionwrapper {
  background: #ffffff;
  padding: 40px 70px;
  margin: 35px 0;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  /* identical to box height */

  color: #324064;
  margin: 0 0 17px 0;
}

.mainblocknav__slide.slick-slide.slick-current {
  /*  background: #ffffff; */
  /*  box-shadow: 8px 8px 40px rgba(49, 51, 56, 0.15); */

  span {
    border-color: transparent;
  }
}

.mainblocknav__slide.slick-slide.slick-current {
  .mainblocknav__item {
    position: relative;
    background: #ffffff;
    box-shadow: 8px 8px 40px rgba(49, 51, 56, 0.15);
  }

  .mainblocknav__content {
    position: relative;

    background: #fff;
  }
  .mainblocknav__content:after {
    /*  content: url(../img/mainblocknav.svg);
    position: absolute;
    right: -70px;
    top: -33px;
    z-index: -1; */
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 0;
    height: 0px;
    left: -80px;
    border-left: 30px solid transparent;
    border-bottom: 92px solid #e09508;
    z-index: 2;
  }
  .mainblocknav__content:before {
    /*  content: url(../img/mainblocknav.svg);
    position: absolute;
    right: -70px;
    top: -33px;
    z-index: -1; */
    content: "";
    display: block;
    position: absolute;
    top: 0;
    background: #fff;
    width: 0px;
    height: 0px;
    left: -50px;
    border-right: 30px solid transparent;
    border-top: 92px solid #e09508;
    z-index: 2;
  }
  .mainblocknav__item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    background: #fff;
    width: 0;
    height: 0;
    left: -50px;
    z-index: 1;
    border-right: 50px solid transparent;
    border-top: 92px solid #fff;
  }
}

.slick-list {
}

.newsblock_aside {
  display: flex;
}
.newsblock_aside .newsblock__main {
  width: calc(100% - 300px);
  padding-right: 57px;
}
.newsblock__list {
  margin: 30px 0;
}
.newsblock__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.newsblock__item {
  width: 50%;
  padding: 0 15px;
  margin-bottom: 40px;
}
.newscard {
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(50, 64, 100, 0.1);
}
.newscard__wrapper {
}
.newscard__image {
  margin-bottom: 25px;
  display: block;
}
.newscard__img {
  @include imagecenter(63%);
}
.newscard__content {
}
.newscard__text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  /* or 20px */
  min-height: 60px;
  margin-bottom: 15px;
  color: #324064;
  display: block;
}
.newscard__params {
  display: flex;
  align-items: center;
}

.newscard__param {
  margin-right: 18px;
}
.newscard__date {
  color: rgba(50, 64, 100, 0.5);
}
.newsblock__aside {
  width: 300px;
}

.newscard__tag a {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 110%;
  /* identical to box height, or 18px */

  color: #ac7816;
}

.newblock__nav {
  margin-top: 18px;
}

a {
  color: #ac7816;
}

.showmore a {
  background: rgba(224, 149, 8, 0.1);
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */

  text-transform: uppercase;

  color: #e09508;

  &:hover {
    background: #e09508;
    color: #fff;

    svg {
      path {
        fill: #fff;
      }
    }
  }
  &:focus {
    background: rgba(224, 149, 8, 0.6);
    color: #fff;

    svg {
      path {
        fill: #fff;
      }
    }
  }
  span {
    padding-left: 6px;
  }
}
aside {
  h3 {
    font-family: "Circe";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    margin: 0 0 18px 0;
    color: #324064;
  }
}

.newstags__tags {
  margin: 50px 0 10px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .newstags__tag {
    a {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 110%;
      /* identical to box height, or 20px */
      display: block;
      margin-right: 26px;
      text-decoration: underline;
      margin-bottom: 24px;
      color: #324064;

      &:hover {
        color: rgba(224, 149, 8, 1);
      }
      &:focus {
        color: rgba(224, 149, 8, 0.5);
      }
    }
  }
}

.newsaside__banner {
  margin: 22px 0;
}

.banner {
  a {
    display: block;
  }
}
#footer {
  background: #fff;
  margin-top: 24px;
}
.footer__wrapper {
  padding: 47px 0;
}
.footer__items {
}
.flex {
}
.items-center {
}
.content-between {
}
.footer__info {
}
.textinfo {
  margin-bottom: 26px;
}
.textinfo__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  /* or 18px */

  color: rgba(50, 64, 100, 0.5);

  b {
    color: rgba(50, 64, 100, 1);
  }
}
.textinfo__link {
  a {
    color: rgba(50, 64, 100, 0.5);
    text-decoration: underline;
  }
}
.dev {
  display: flex;
  align-items: center;
  font-size: 14px;

  color: rgba(50, 64, 100, 0.5);
  span {
    padding-right: 13px;
  }
}
.footer__socials {
}
.footer__menu {
}
.textinfo__span {
  margin-bottom: 4px;
  display: block;
}

.socials {
  display: flex;
}
.socials__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 66px;
  height: 66px;

  background: #ffffff;
  border: 2px solid rgba(50, 64, 100, 0.1);
  border-radius: 555px;

  &:hover {
    border-color: #ac7816;
  }

  &:last-child {
    margin-right: 0;
  }
}
.socials__icon {
  line-height: 1;
}

.footer__menu {
}
.footermenublock {
  display: flex;
}
.footermenublock__menu {
  margin-left: 100px;

  &:first-child {
    margin-left: 0;
  }
}
.footermenu {
}
.footermenu__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
  /* identical to box height, or 22px */

  color: #324064;

  margin-bottom: 19px;
}
.footermenu__menu {
  ul {
    li {
      a {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 110%;
        /* identical to box height, or 18px */

        color: rgba(50, 64, 100, 0.5);
        margin-bottom: 12px;
      }
    }
  }
}

.contacts__dropdown .footer__informblock {
  width: 100%;
}
.textinfo__span a {
  font-weight: bold;
}
.contactspopup {
  position: relative;
  right: 0;
  top: 100%;
  width: 382px;
  /* margin-top: 20px; */
  background: #ffffff;
  padding: 36px;
  z-index: 99999;
  box-shadow: 5px 5px 60px rgba(36, 40, 43, 0.2);

  .textinfo__span a {
    color: rgba(50, 64, 100, 0.5);
  }

  .contacts__phone a {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    display: flex;
    align-items: center;

    color: #324064;
  }
}
.contactspopup:after {
  content: url(../img/triangle.svg);
  position: absolute;
  right: 38px;
  top: -15px;
}

.headerpanel__callback {
  position: relative;
}

.socials__icon {
  display: flex;
}

.contacts__dropdown {
  display: none;

  padding-top: 20px;
  position: absolute;
  right: 0;
  opacity: 0;
  z-index: -999;
  top: calc(100% - 1px);
  /*  width: 100%;
  height: 310px; */
  transition: all 0.5s 0.3s;

  .socials__item {
    height: 46px;
    width: 46px;
    margin-right: 8px;
    padding: 8px;
  }

  .footer__call {
    a {
      height: 52px;
      width: 100%;
      display: block;
      text-align: center;
    }
  }
  .textinfo__span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    margin: 25px 0 37px 0;
    color: rgba(50, 64, 100, 0.5);

    a {
      color: rgba(172, 120, 22, 1);
    }
  }
}

.headerpanel__callback:hover {
  .contacts__dropdown {
    display: block;
    transition: none;
    transition: opacity 0.1s;
    z-index: 9;
    opacity: 1;
  }
}
.contacts__status {
  width: 4px;
  height: 4px;
  background: #13cc88;
  outline: 3px solid rgba(19, 204, 136, 0.3) !important;
  margin-right: 6px;
  border-radius: 50%;
}
.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 17px;
}
.contacts__text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(50, 64, 100, 0.5);
}

#header {
  position: relative;
  z-index: 9;
}
main {
  position: relative;
  z-index: 8;
}
.newsblock_aside {
  .newsblock__panel {
    display: none;
  }
}
.mainmenu__contacts {
  display: none;
}
.content__block {
  margin: 58px 0;
}

.content {
  .content__title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 6px;
    color: #324064;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    margin: 0 0 25px 0;
    color: rgba(50, 64, 100, 0.7);
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 19px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      /* or 25px */

      color: rgba(50, 64, 100, 0.7);
      margin-bottom: 6px;
      &:after {
        content: "";
        height: 8px;
        width: 8px;
        background: rgba(224, 149, 8, 1);
        display: block;
        position: absolute;
        transform: rotate(45deg);
        top: 6px;
        left: 2px;
      }
    }
  }
}

blockquote {
  position: relative;
  padding-left: 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  /* or 32px */
  margin: 25px 0 25px 0;

  color: #324064;
  &:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    left: 0;
    top: 0;
    transform: skewY(45deg);
    background: #e09508;
  }
}

thead {
  background: #fcf4e6;
  th {
    padding: 10px 28px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: left;
    color: #324064;
  }
}
table {
  width: 100%;
  border-spacing: 0;
  margin: 26px 0;
}
tbody {
  tr {
    td {
      padding: 12px 28px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: rgba(50, 64, 100, 0.7);
      border-bottom: 2px solid rgba(50, 64, 100, 0.1);
    }
  }
  tr:nth-child(2n) {
    td {
      background: #fafafa;
    }
  }
}

.content__block:last-child {
  margin-bottom: 0;
}

.newsblock_page {
  .newstags__tags {
    flex-wrap: wrap;
  }
  .newsblock__panel {
    padding: 27px 38px;
    background: #fafafa;
    margin-bottom: 42px;
    .newstags__tags {
      margin: 0;
    }
  }
  .newstags__tag.active {
    a {
      color: #e09508;
    }
  }
  .newsblock__item {
    width: 33.3333%;
  }
}

.pagination ul li {
  position: relative;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:after {
    content: "";
    position: absolute;
    border: 2px solid transparent;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: -2px;
    left: -2px;
    transform: skewX(-20deg);
  }
  a {
    border: none;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pagination ul li:hover:after,
.pagination ul li.active:after {
  border-color: #e09508;
}
.pagination ul li.active a {
  background: none;
}

@media (max-width: 1480px) {
  .headersearch input {
    width: 300px;
  }
  .mainblockslider {
    width: calc(100% - 400px);
  }
  .mainblocknav {
    width: 400px;
  }
  .sectionwrapper {
    padding: 30px 20px;
  }
  .descr {
    font-size: 22px;
    line-height: 1.2;
  }
  .mainmenuLevelOne > li > a {
    font-size: 16px;
  }
  .socials__item {
    width: 50px;
    height: 50px;
    padding: 8px;
  }
}

@media (max-width: 1023px) {
  .textinfo__text,
  .textinfo a {
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
  }
  .mainblock__container {
    display: block;
  }
  .mainblockslider {
    width: 100%;
  }
  .mainblocknav {
    width: 100%;
  }
  .mainblock__img {
    padding-top: 60%;
  }
  .sectionwrapper {
    padding: 15px 18px;
    margin: 10px -18px;
    @include fullwidth;
  }
  .newsblock_aside {
    display: block;
  }
  .newsblock_aside {
    .newsblock__panel {
      display: block;
    }
  }
  .newsblock__aside {
    display: none;
  }
  .newsblock_aside .newsblock__main {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .footer__items {
    @include colstorows;
  }
  .headercontent {
    @include colstorows;
  }
  .headercontent__middle {
    margin: 0;
  }
  .headersearch input {
    width: calc(100% - 66px);
    height: 36px;
    font-size: 14px;
    background-size: 20px;
    padding-left: 33px;
    background-position: left 9px center;
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 14px;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 14px;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 14px;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    font-size: 14px;
  }
  .headersearch .btn_main {
    width: 66px;
    height: 36px;
    padding: 0 16px;
    font-size: 12px;
    line-height: 36px;
    font-weight: 400;
  }
  .headercontent__right {
    display: none;
  }
  .logo {
    margin-right: 9px;
    width: 110px;
  }
  .descr {
    font-weight: 400;
    font-size: 17px;
    line-height: 70%;
    color: rgba(204, 133, 0, 1);
    max-width: 115px;
  }
  .headercontent__left {
    display: flex;
    align-items: center;
  }
  .headercontent__middle {
    border-top: 2px solid rgba(50, 64, 100, 0.1);
    padding-top: 9px;
    @include fullwidth;
  }
  .headerpanel__search {
    width: 100%;
    padding: 0 18px;
  }
  .headermain {
    padding: 4px 0 7px 0;
  }
  .mainmenuLevelOne {
    display: block;
    height: unset;
  }
  .mainmenuLevelOne > li {
    display: block;
    margin-bottom: 28px;
    a {
      padding: 0;
    }
  }
  .mainmenuLevelOne > li.active a {
    padding: 0;
    background: none;
    color: #324064;
  }
  .mainmenu {
    padding: 40px 0;
  }
  .container {
    padding: 0 18px;
  }
  .mainmenu {
    width: calc(100% - 62px);
    position: absolute;
    background: #fff;
    z-index: 99;
    left: 0;
    padding: 40px 18px;
  }

  h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 12px;
  }

  .mainblocknav {
    min-height: initial;
  }
  .mainblocknav__slide.slick-slide.slick-current .mainblocknav__content:before,
  .mainblocknav__slide.slick-slide.slick-current .mainblocknav__content:after,
  .mainblocknav__slide.slick-slide.slick-current .mainblocknav__item:after {
    display: none;
  }
  .container {
    max-width: 100%;
  }
  .mainblocknav {
    display: block;
  }
  .mainblockslider {
    display: block;
    margin: 0 -18px;
    width: calc(100% + 36px);
  }
  .mainblocknav__content {
    padding: 0;
    height: unset;
  }
  .mainblocknav__content span {
    font-weight: 700;
    font-size: 14px;
    line-height: 110%;
    padding: 0;
    border: none;
  }
  .mainblocknav {
    padding-top: 23px;
  }
  .slick-dots li button {
    background: rgba(50, 64, 100, 0.1);
    width: 43px;
    height: 3px;
    padding: 0;
  }
  .slick-dots li.slick-active button {
    background: rgba(224, 149, 8, 1);
  }
  .slick-dots li {
    margin: 0 3px;
    width: unset;
    height: unset;
    margin-right: 3px;
  }
  .slick-dots li button:before {
    display: none;
  }
  .newstags__tags {
    background: #fafafa;
    display: flex;
    flex-wrap: nowrap;
    padding: 15px 27px;
    overflow-x: auto;
    margin: 18px 0;
    @include fullwidth;
    .newstags__tag {
      margin-bottom: 0;

      a {
        margin-right: 16px;
        font-size: 14px;
        line-height: 110%;
        margin-bottom: 0;
      }
    }
  }
  .newsblock__list {
    margin: 7px 0;
  }
  .newsblock__panel {
  }
  main {
    width: 100vw;
    overflow-x: hidden;
  }
  .newscard__content {
    padding: 0 18px;
  }
  .newscard__image {
    margin-bottom: 19px;
  }
  .newscard__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 110%;
    min-height: 30px;
  }
  .newscard__param {
    font-size: 12px;
  }
  .newscard {
    border-bottom: none;
    padding-bottom: 29px;
  }
  .newsblock__item {
    margin-bottom: 0;
  }
  .showmore a {
    height: 58px;
    font-size: 14px;
    span {
      line-height: 1;
      display: block;
    }
    svg {
      width: 22px;
      height: 22px;
    }
  }
  #footer {
    margin-top: 14px;
  }
  .footer__socials {
    margin: 35px 0;
  }
  .footermenu__title {
    font-size: 16px;
    line-height: 110%;
    margin-bottom: 13px;
  }
  .footermenu__menu ul li a {
    font-size: 12px;
  }
  .footermenublock__menu {
    margin-left: 56px;
  }
  .headercontent__left {
    justify-content: space-between;
  }
  .mainmenu__contacts {
    display: block;
  }

  .mainmenu__contacts {
    .contactspopup {
      margin-top: 52px;
      box-shadow: none;
      padding: 0;
      width: 100%;

      .btn_main {
        display: inline-block;
        font-weight: 700;
        height: unset;
        font-size: 14px;
        line-height: 21px;
        padding: 11px 14px;
        white-space: nowrap;
      }
    }
    .contacts__phone a {
      font-size: 18px;
      line-height: 27px;
    }
    .contacts__info {
      margin-bottom: 22px;
    }
    .textinfo__span {
      color: rgba(50, 64, 100, 0.5);
      font-weight: 400;
      font-size: 12px;
      line-height: 110%;
      margin: 35px 0 20px 0;
      display: block;
      max-width: 160px;
      a {
        color: #e09508;
      }
    }

    .socials__item {
      width: 40px;
      height: 40px;
      padding: 7px;
    }
  }
  .content__block {
    margin: 34px 0;
  }

  .content {
    .content__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 11px;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        position: relative;
        padding-left: 15px;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;

        margin-bottom: 5px;
        &:after {
          content: "";
          height: 5px;
          width: 5px;
          background: rgba(224, 149, 8, 1);
          display: block;
          position: absolute;
          transform: rotate(45deg);
          top: 6px;
          left: 2px;
        }
      }
    }
  }

  blockquote {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    margin: 30px 0 17px 0;
    padding-left: 24px;

    &:before {
      content: "";
      position: absolute;
      width: 8px;
      height: 100%;
      left: 0;
      top: 0;
      transform: skewY(45deg);
      background: #e09508;
    }
  }

  thead {
    background: #fcf4e6;
    th {
      padding: 7px 28px;
      font-size: 16px;
      line-height: 24px;
    }
  }
  table {
    width: 100%;
    border-spacing: 0;
    margin: 11px 0;
  }
  tbody {
    tr {
      td {
        padding: 9px 28px;
        font-size: 14px;
      }
    }
    tr:nth-child(2n) {
      td {
        background: #fafafa;
      }
    }
  }

  h1 {
    font-size: 26px;
    line-height: 100%;
    margin-bottom: 21px;
  }
  h2 {
    font-size: 22px;
    line-height: 100%;
    margin-bottom: 21px;
  }
  h3 {
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 21px;
  }

  h4 {
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 21px;
  }
  h5 {
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 21px;
  }
  .tablewrapper {
    width: 100%;
    overflow-x: auto;
  }
  .newsblock_page {
    .newsblock__item {
      width: 50%;
    }
  }
  .newsblock_page .newsblock__panel {
    padding: 0;
    @include fullwidth;
  }

  .newsblock_page .newstags__tags {
    flex-wrap: nowrap;
  }
  .pagination ul {
    margin: 0 18px;
  }
  .pagination ul li {
    width: 32px;
    height: 32px;
    font-size: 12px;
  }
  .pagination ul li a {
    width: 32px;
    height: 32px;
    font-size: 12px;
  }
  .pagination ul li:after {
    width: 32px;
    height: 32px;
  }
  .pagination__arrLeft,
  .pagination__arrRight {
    width: 18px;
  }
}

@media (max-width: 500px) {
  .newsblock__item {
    width: 100%;
    @include fullwidth;
  }
  .newsblock_page {
    .newsblock__item {
      @include fullwidth;
    }
  }
}
